.clsHyperlink
{

	color:#e0e0e0;
	font-size:10pt;
	font-family:Helvetica,Arial;
	cursor:hand;
	cursor:pointer;
}

.clsNavElement
{
	background-color:#000000;
	padding: 12 12 12 12;

}

.clsPanel
{
	background-color:#d0d0d0;

}

.clsInvite
{
	width:500px;
	height:500px;
	background-color:#e9d9a6;
		
	
	
}
	
.clsPanelHead
{
	background-color:#888888;
	color:#1a1a1a;

}

.clsCell
{
	background-color:#d0d0d0;
	border-bottom:groove;

}

.clsFooter
{
   padding:44 44 44 44;
   font-size:9pt;
   font-family:Arial;
   color:#999999;

}

.clsLog
{
   padding:6 6 6 6;
   font-size:14pt;
   font-family:Arial;
   color:yellow;
   background-color:black;

}

.clsAdd
{
	cursor:hand;
	cursor:pointer;
	font-size:11pt;
	
	padding: 6 6 6 6;

	color:blue;
	
}

.clsH5
{
	font-size:14pt;
	font-style:bold;
	padding: 6 6 6 6;
	color:black;
}

.clsOrdinal
{
	font-family:Verdana;
	font-size:24pt;
	color:red;
	
	
}
.clsButtonLight
{
	color:red;
	background-color:#e0e0e0;
	border:none;
}
.clsGridButton
{
	color:red;
	background-color:#e0e0e0;
	font-size:9pt;
	border:none;
}

.clsActionButton
{
	background-color:silver;
	color:#000000;
	
}
	
	
.clsPageHeader
{
	color:#000000;
	background-color:transparent;
	font-family:Arial;
	font-size:14pt;
	padding:6 6 6 6;
}

.clsOutputs
{
	color:white;
	background-color:black;

}

.clsFormActionFooter
{
	background-color:#EDC380;
	color:black;
}

.clsFormHeader
{
	color:#000000;
	background-color:#EB9307;
	font-family:Arial;
	font-size:12pt;
	padding:6 6 6 6;
}

.clsFormHeader2
{
	color:#000000;
	background-color:#EB9300;
	font-family:Arial;
	font-size:10pt;
	padding:6 6 6 6;
}

.clsAbout
{
  padding:6 6 6 6;
  font-size:10pt;
  font-family:Arial;
  color:black;
  background-color:#e0e0e0;
	
}

.clsMsg
{
   padding:6 6 6 6;
   font-size:10pt;
   font-family:Arial;
   color:black;
   background-color:white;
   width:400px;
   height:35px;
   display:block;

}

.clsGrid
{
	background-color:#999999;
	color:#000000;
	font-size:12pt;
	font-family:Verdana,Arial;
}

.clsGridRow
{
	background-color:#ffffff;
	color:#999999;
	font-size:11pt;
	font-family:Verdana,Arial;
}
.clsGridHeaderRow
{
	background-color:#000000;
	color:#e0e0e0;
	font-size:12pt;
	font-family:Verdana,Arial;
}